.header-nav-buttons {
	float: right;
}
.div-box p, input{
	font-family: 'Raleway', sans-serif;
	font-size: 18px;
	padding-left: 20px;
}

.admin-spacer {
	width: 100%;
	height: 100px;
}
.unstyled-button-menu {
}

.system-message {
	font-family: 'PT Sans Narrow', sans-serif;
	text-align: center;
}

.account-section {
	border: solid 1px teal;
	font-family: 'PT Sans Narrow', sans-serif;
}

.div-account-search {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}

#pagin-nav {
	font-family: 'Raleway', sans-serif;
	display: flex;
}

#pagin-nav p {
	padding-right: 20px;
}

.account-main-div {
	width: 100%;
	height: 1200px;
}
.user-greeting {
	float: right;
	font-family: 'Raleway', sans-serif;
	font-size: 28px;
	line-height: 25px;
	padding: 12px;
	margin-right: 33px;
}

.admin-greeting {
	width: 100%;
	font-family: 'Raleway', sans-serif;
	font-size: 28px;
	line-height: 25px;
	
}

.call-plans form {
	font-size: 28px;
	font-family: 'Raleway', sans-serif;
	width: 60%;
}

.change-telephone-number-and-back {
	font-size: 24px;
	font-family: 'Raleway', sans-serif;
	margin-left: 33px;
}
.change-phone {
	font-size: 24px;
	font-family: 'Raleway', sans-serif;
	margin-left: 33px;
.
}
.user-menu {
	display: flex;	
}
#admin-menu {
	
	display: flex;
}

#admin-table-account th,tr,td{
	font-size: 14px;
}

#admin-menu p {
	font-family: 'Raleway', sans-serif;
	font-size: 18px;
	padding: 10px;
}
#admin-section {
	border: 1px solid teal;
	display: flex;
}

.user-menu-nav-bar {
	float: left;
	padding: 20px;
	display: inline-flex;
	text-align: center;
	font-family: 'Raleway', sans-serif;
}

.change-phone li {
	color: black;
}

.user-menu-nav-bar p {
	text-align: center;
}

.user-menu-nav-bar p:hover {
	color: tomato;
}

#your-account {
	width: 100%;
	height: 40%;
}

#your-account h3 {
	font-family: 'Raleway', sans-serif;
	font-size: 28px;
	margin-left:33px;
}

#account {
	width: 100%;
	height: 50%;
	font-family: 'Raleway', sans-serif;
}

#account table, th, td {
	font-size: 16px;
	padding: 5px;
	margin-left: 0px;
}

#editProfile {
	width: 100%;
	height: 50%;
	
}

#editProfile h3 {
	font-family: 'Raleway', sans-serif;
	font-size: 28px;
	margin-left:33px;
	
}

.edit-and-back {
	width: 100%;
	display: inline-block;
}

.edit-and-back h3{
	display: inline-block;
	
}

.change-pass {
	width: 100%;
	height: 500px;
	float: left;
	
}

.change-password-and-back {
	font-family: 'Raleway', sans-serif;
	font-size: 24px;
	width: 100%;
	display: flex;
}

.change-password-and-back h3 {
	display: flex;
	margin-left: 33px;
}

form.change-password {
	width: 100%;
	float: left;
	margin-left: 33px;
	margin-top: 33px;
}

#change-password {
	font-family: 'Raleway', sans-serif;
	float: left;
	font-size: 28px;
	margin-left: 33px;
	margin-right: 33px;
}

#change-password h3  {
	font-family: 'Raleway', sans-serif;
	
	margin-left: 33px;
}

.back-to-menu h2{
	widht:20%;
	float: right;
}

.editProfileForm {
	font-family: 'Raleway', sans-serif;
	font-size: 18px;
	padding: 10px;
	line-height: 25px;
	margin-left: 33px;
	width: 45%;
	
}

.editProfileForm input {
	line-height: 25px;
	width: 40%;
}

.header {
  overflow: hidden;
  background-color: teal;
  padding: 5px 35px;
  font-family: 'Raleway', sans-serif;
}

.styled-button {
	
	background: teal;
	font-family: 'Raleway', sans-serif;
	padding: 12px;
	font-size: 18px;
	line-height: 25px;
	color: ivory;
	border-radius: 4px;
}

.styled-button-lang {
	border: none;
	background: teal;
	font-family: 'Raleway', sans-serif;
	padding: 10px;
	font-size: 14px;
	line-height: 25px;
	color: ivory;
	border-radius: 4px;
}

.styled-button-lang:hover {
	background-color: ivory;
  	color: tomato;
}

.unstyled-button {
  border: none;
  padding: 0;
  background: none;
  color: ivory;
  padding: 12px;
  text-align: center;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
  font-family: 'Raleway', sans-serif;
}

.reg-unstyled-button {
  border: none;
  padding: 0;
  background: none;
  color: black;
  padding: 12px;
  text-align: center;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
  font-family: 'Raleway', sans-serif;
}

.reg-unstyled-button:hover {
	background-color: ivory;
  	color: tomato;
}

.cp-unstyled-button {
	border: none;
  padding: 0;
  background: teal;
  color: ivory;
  padding: 12px;
  text-align: center;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
  font-family: 'Raleway', sans-serif;
}

.cp-unstyled-button:hover {
	
}

.cp-unstyled-button:hover {
	background-color: tomato;
	color: ivory;
}

.unstyled-register-button {
  display: inline-block;
  border: none;
  padding: 0;
  background: none;
  display: inline-block;
  color: teal;
  text-align: center;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
  font-family: 'Raleway', sans-serif;
  padding-left: 33px;
  padding-top: 20px;
}

.unstyled-register-button:hover {
	background-color: ivory;
  	color: tomato;
}

div.header-right {
	width: 750px;
}

#localization-button {
	font-size: 10px;
}

.header form {
  float: left;
  color: ivory;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
  font-family: 'Raleway', sans-serif;
}

.header a.logo {
  font-family: 'Dosis', sans-serif;
  font-size: 25px;
  color: ivory;  
}

.header a:hover {
  background-color: ivory;
  color: tomato;
}

.header button:hover {
  background-color: ivory;
  color: tomato;
}

.header a.active {
  background-color: tomato;
  color: ivory;
 
}

.header-right {
  float: right;
  width: 550px;
}

.border {
  border: 1px solid ivory;
}

@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  .header-right {
    float: none;
  }

}

.main {
  width: 100%;
  height: 900px;
}

.promo {
  margin: 33px;
  height: 477px;
  background-image: url("../images/main.jfif");
  position: relative;
}

.grey-box {
  background-color: rgba(0,0,0,0.55);
  position: relative;
  left: 20px;
  top: 90px;
  width: 550px;
  height: 330px;
  border-radius: 15px;
}

.grey-box h1 {
  padding-top: 22px;
  padding-left: 44px;
  padding-right: 44px;
  margin-bottom: 16px;
  font-family: Raleway, sans-serif;
  font-size: 40px;
  color: ivory;
}

.grey-box p {
  font-family: 'Raleway', sans-serif;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 14px;
  color: ivory;
}

.button {
  font-family: 'Raleway', sans-serif;
  background-color: transparent; 
  color: white;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  margin-left: 20px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button3:hover {
  background-color: red;
  color: white;
}

.button-border {
  border: 1px solid #c30d4c;
}

.bottom {
  height: 320px;
  width: 95%;
  display: grid;
  margin-left: auto;
  margin-right: auto;
  background-image: url("../images/samsung.jfif");
}

.columns {
  font-family: 'Dosis', sans-serif;
  font-size: 60px;
  color: ivory;
  padding: 15px;
}

.columns p {
  font-family: 'Dosis', sans-serif;
  padding-right: 20px;
  font-size: 14px;
  color: ivory;
}

.signin-form {
  position: absolute;
  bottom: 50%;
  left: 50%;
  padding: 10px;
}

footer {
  overflow: hidden;
  background-color: teal;
  padding: 10px 20px;
  width: auto;
  height: 110px;
  justify-content: center;
  align-items: center;
}

.footer-container {
  background-color: tomato;
  width: auto;
  height: 110px;
}

footer p {
  font-family: 'Raleway', sans-serif;
  display: inline-block;
  position: center;
  color: ivory;
}

footer ul,li {
	font-family: 'Raleway', sans-serif;
	color: ivory;
	text-align: left;
	
}

.spacer {
  width: auto;
  height: 10px;
  color: black;
}


.left {
text-align:left;
float:left;
width:30%;
text-align: center;
}

.right{
float:right;
text-align:right;
width:30%;
text-align: center;
}

.centered{
text-align:center;
width:30%;
}

.main-2 {
  width: auto;
  height: 420px;
  position: relative;
}

.login-image {
  height: 100%;
  margin-left: 33px;
  margin-top: 43px;
  background-image: url("../images/login.jpg");
  background-repeat: no-repeat;
}

.login-block {
  background-color: white;
  width: 40%;
  height: 80%;
  float: right;
  display: inline-block;
}

.login-block p {
  font-family: 'Raleway', sans-serif;
  margin-left: 0px;
  display: inline-block;
}



.login-form {
   font-family: 'Raleway', sans-serif;
   font-size: 18px;
   width: 90%;
   padding-left: 30px;
}

.login-form input[type=email] {
  width: 80%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

.login-form input[type=password] {
  width: 80%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

.login-form button {
  width: 80%;
  padding: 12px 20px;
}

.red {
	color: tomato;
}

.registration-main-div {
	height: 500px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.registration-step-2-main-div {
	height: 500px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.registration-step-3-main-div {
	width: 100%;
	height: 230px;
	display: inline-block;
	align-items: center;
	justify-content: center;
}

.registration-step-3-main-div p {
	margin-top: 0px;
	margin-bottom: 0px;
}

.reg-image {
	background-image: url("../images/reg_v2.jpg");
	background-repeat: no-repeat;
	height: 472px;
	width: 100%;	
}

.reg-step-two-image {
	background-image: url("../images/step2e.jpg");
	background-repeat: no-repeat;
	height: 472px;
	width: 100%;
}

.registration-child-left-text {
	font-family: 'Dosis', sans-serif;
	font-size: 180px;
	color: ivory;
	-webkit-text-stroke: 1px teal;
	background-color: transparent;
	float: left;	
}

.registration-step-3-div-child-left-text {
	font-family: 'Dosis', sans-serif;
	font-size: 180px;
	color: ivory;
	-webkit-text-stroke: 1px teal;
	background-color: transparent;
	align-items: center;
	float: left;
}

.registration-user-prompt {
	font-family: 'Dosis', sans-serif;
	font-size: 40px;
	color: teal;
}

.registration-user-prompt p {
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 20px;
}


.registration-step-2-child-left-text p {
	margin-bottom: 0px;
	
}

.registration-form {
	width: 100%;
	height: 100%;
}

.registration-main-div form {
	background-color: #e9e8e3;
	text-align: center;
	height: 100%;
}

.registration-step-2-main-div {
	background-color: transparant;
	text-align: center;
	height: 50%;
}

.registration-child-div {
	
	height: 100%;
	width: 40%;
	float: right;
}

.registration-step-2-child-div {
	height: 100%;
	width: 40%;
	float: right;
}

.registration-child-div p {
	font-family: 'Raleway', sans-serif;
	font-size: 20px;
}

.registration-grand-child-div {
	font-family: 'Raleway', sans-serif;
	width: 60%;
	display: inline-block;
}

.registration-grand-child-div input {
	width: 100%;
}

.registration-grand-child-button {
	font-family: 'Raleway', sans-serif;
}
 
input[type='number'] {
    -moz-appearance:textfield;
}

.new-telephone-number-form {
	font-family: 'Raleway', sans-serif;
	text-align: center;
	color: black;
	font-size: 20px;
	background-color: transparant;
	height: 50%;
}

.new-telephone-number-form li {
	font-size: 44px;
	text-align: center;
	color: black;
}

.underline {
  text-decoration: underline;
}

.call-plan {
	height: 500px;
	width: 100%;
	display: inline-block;
	justify-content: center;
	
}

.call-plan p {
	font-family: 'Raleway', sans-serif;
	font-size: 30px;
	text-align: center;
	margin-top: 0px;
	margin-bottom: 0px;
}

.call-plan table {
	width: 100%;
	height: 100%;
}

.call-plan th,td,tr {
	font-family: 'Raleway', sans-serif;
	text-align: center;
	color: black;
}

th, td {
  border-right: solid 1px teal; 
}

.change-phone ul,form {
  list-style-type: none;
}
